.ripple, .r {
  position: absolute;
  border-radius: 50%; 
  transform: scale(0);
  background: rgba(255,255,255,0.7);
  pointer-events: none; 
}
.ripple {
  animation: ripple 0.6s linear forwards;
  display: inline-block !important; 
}

@keyframes ripple {
  0% { transform: scale(0); opacity: 1; }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
button:active .ripple {
  filter: brightness(1.2);
}